@font-face {
    font-family: 'SWCC-Medium';
    src: url('https://cdn.jsdelivr.net/gh/julianogharzeddine/CustomFiles@main/SWCC-3-Medium.otf') format('opentype');
    /* Adjust the path and font format */
}


* {
    font-family: 'SWCC-Medium'
}

.infoIconContainer {
    display: flex;
    height: 4.2ex;
    width: 100%;
    justify-content: flex-end;
}

.cardItem {
    cursor: pointer;
}

span[name*="SubLbl"] {
    padding-right: 4.2ex;
    padding-left: 4.2ex;
}

div[name="Navbar"] {
    position: fixed !important;
    top: 46px;
    width: 100%;
    right: 0;
    z-index: 1;


}

[name="TranslatorHeader"] {

    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 100 !important;
}

.employeeIcon {
    height: 50px !important;
    width: 50px !important;
}

body {
    background: #7c99bc !important;
}

.runtime-form {
    position: absolute !important;
    top: 50px;
    left: 0;
    width: 90% !important;
}


.toolbars,
.single {
    display: none !important;
}




.form {
    background-color: #EBF3FD !important;
    width: 70% !important;
    position: absolute !important;
    right: 20%;
}

body {
    background-color: #EBF3FD !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background-color: #0066cc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0066cce0;
}


#card-wrapper {
    width: 100% !important;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    place-items: center !important;
    grid-row-gap: 30px !important;
    overflow-y: auto !important;
    direction: rtl;
    padding: 20px !important
}

#sectionBrowser {
    padding: 70px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    place-items: center !important;
    margin-right: 30px !important
}

.cardItem {
    padding: 15px !important;
    width: 65% !important;
    min-width: 242px !important;
    height: 270px !important;
    border-radius: 2.5ex !important;
    box-shadow: 0px 13px 25px #0000002B !important;
    background: #ffffff !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    place-items: center !important;
    box-sizing: border-box !important;
}

.cardItem .titleImage {
    width: 220px !important;
    height: 120px !important;
    border-radius: 25px !important;
}

.cardTitle {

    width: 192px !important;
    text-align: center !important;
    letter-spacing: 0px !important;
    color: #2E2E2E !important;
    font-size: 25px !important;
    font-weight: bold !important;
}



.sectionBrowserTitle {
    font-size: 40px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: #004687 !important;
}

.goToCategoryButton {
    width: 70% !important;
    max-width: 180px;
    height: 45px !important;
    color: white !important;
    font-size: 17px !important;
    background: #0066CC 0% 0% no-repeat padding-box !important;
    border-radius: 30px !important;
    display: flex !important;
    place-content: center !important;
    align-items: center !important;
    box-shadow: 0px 9px 17px #00000057 !important;
    text-decoration: none !important;
    transition: filter 0.2s ease;
    margin-top: 10px !important
}

.goToCategoryButton:hover {
    filter: opacity(0.8)
}

#sectionBrowserTitle {
    font-size: 40px !important;
    font-weight: bold !important;
}

.empNoWrap {

    display: flex !important;
    flex-direction: row-reverse;
    justify-content: center;
    place-items: center;
    gap: 10px;

}

.empCount {
    display: flex;
    justify-content: center !important;
    place-items: center !important;
    color: #0066CC !important;
    font-size: 25px !important;
    text-align: center !important;
    height: 40px !important;
    padding: 0px !important;
}

.empCountLabel {
    font-size: 20px !important;
    text-align: center !important;
}

.dd-container {
    margin-right: 100px !important;
    margin-left: 100px !important;
}


[name='SWCCImgLogo'] {

    margin: 0px 25px !important;
}


/* SIDE BAR STYLING */

div[name="Sidebar"] {
    background-color: #0066cc !important;
    height: 100vh !important;
    position: fixed !important;
    right: 0 ;
    width: 330px !important;
    top: 194px !important;
    z-index: 1 !important;
   /* border-top-left-radius: 20px !important; */
    box-shadow: 0px 0px 30px #0066CC80 !important;
}


div[name="Sidebar"] * {
    font-family: 'SWCC-Medium' !important;
}

div[name="Sidebar"] div {
    background-color: #0066cc !important;
    /*   border-top-left-radius: 20px !important; */
}




/* ----------------- MODAL STYLING ------------------- */

[name='addIcon'] {
    border-radius: 7px !important;
}


#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 102, 204, 0.5);
    background-color: #fff;
    padding: 10px;
}

#modalHeader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 10px;
    box-sizing: border-box;
    height: 15%;
}

#closeModal:hover {
    filter: brightness(80%);
    cursor: pointer;
}

#closeModal {
    height: 30px;
    width: 30px;
}

#modalBody {
    display: flex;
    flex-direction: row-reverse;
    height: 85%;
    display: flex;
    align-items: center;
}

#modalIllustration {
    height: 230px;
    width: 280px;
    border-radius: 5px;
    object-fit: cover;
}

#controlsDiv {
    width: calc(100% - 260px);
    height: 200px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalLabel {
    font-weight: bold !important;
    margin-bottom: 3px;
    margin-top: 5px;
    text-align: right;
    font-size: 18px !important;
}

.input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    direction: rtl;
    outline: none !important;
}

#addService {
    display: flex;
    place-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    border-radius: 2.5ex;
    border: none;
    background-color: #0066cc;
    color: #fff;
    cursor: pointer;
    align-self: center;
    font-size: 18px;
    margin-top: 10px;
    transition: filter 0.2s ease;
}

#addService:hover {
    filter: opacity(0.9);
}
